@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(24, 22, 24);
}

.heroImage {
    height: 40vh;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    
}

.imageCard {
    
    height: 20vh;
}

.detailsImage{
    
width: 45vw;
}